.rojo {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.rojo-brillante {
  width: 100px;
  height: 100px;
  background-color: rgb(97, 0, 0);
  border-radius: 50%;
}

.amarillo {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
}

.amarillo-opaco {
  width: 100px;
  height: 100px;
  background-color: rgb(102, 100, 0);
  border-radius: 50%;
}

.verde {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.verde-brillante {
  width: 100px;
  height: 100px;
  background-color: rgb(54, 88, 3);
  border-radius: 50%;
}

.container {
  background-color: black;
  margin: 200px;
  padding: 30px;
  max-width: 160px;
  border-radius: 10px;
 margin-left: 900px;
  
}

